@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/manrope';

@import "primereact/resources/themes/lara-light-cyan/theme.css";


body {
  @apply font-manrope;
}

@layer components {
  .input-bordered {
    @apply w-full min-w-[200px] max-w-[250px] text-sm h-12 px-4 rounded-md border border-gray-300 bg-white text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
}